In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
#loading dataframe
df_data = pd.read_csv("data.csv")
print(df_data)

                               address                 district  area  \
0                           Rua Herval               Belenzinho    21
1                   Avenida São Miguel             Vila Marieta    15
2                     Rua Oscar Freire                Pinheiros    18
3                     Rua Júlio Sayago                  Vila Ré    56
4                   Rua Barata Ribeiro               Bela Vista    19
...                                ...                      ...   ...
11652          Avenida Adolfo Pinheiro              Santo Amaro    94
11653  Rua Professor Alexandre Correia     Jardim Vitória Régia   350
11654                 Rua Abílio Borin         Jardim Caravelas    84
11655                Rua Forte William  Jardim Fonte do Morumbi    76
11656              Rua Alexandre Dumas              Santo Amaro   110

       bedrooms  garage                type   rent  total
0             1       0     Studio e kitnet   2400   2939
1             1       1     Studio e kitnet   1030   1345
2             1       0         Apartamento   4000   4661
3             2       2  Casa em condomínio   1750   1954
4             1       0     Studio e kitnet   4000   4654
...         ...     ...                 ...    ...    ...
11652         2       1         Apartamento   4100   5778
11653         4       4         Apartamento  11250  17480
11654         1       2         Apartamento   4500   5467
11655         1       0         Apartamento   9000  10200
11656         3       1                Casa   3300   3440

[11657 rows x 8 columns]